@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1652977953883') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yingyongzhongxin:before {
  content: "\f017a";
}

.icon-xinlangweibo:before {
  content: "\f01af";
}

.icon-weixin:before {
  content: "\f0106";
}

.icon-dianzan:before {
  content: "\e656";
}

.icon-icon_search:before {
  content: "\e614";
}

.icon-pinglun2:before {
  content: "\e684";
}

.icon-changjianwentixiangguanwenti:before {
  content: "\e689";
}

.icon-diamond:before {
  content: "\e63d";
}

.icon-pinglun:before {
  content: "\e60c";
}

.icon-mima1:before {
  content: "\e659";
}

.icon-jia:before {
  content: "\e60d";
}

.icon-jia1:before {
  content: "\e643";
}

.icon-minecraft:before {
  content: "\e7f9";
}

.icon-shu:before {
  content: "\e607";
}

.icon-huiyuan:before {
  content: "\e8a6";
}

.icon-daima:before {
  content: "\e668";
}

.icon-erweima:before {
  content: "\e615";
}

.icon-jiantoushang:before {
  content: "\e62c";
}

.icon-jiantouyou:before {
  content: "\e62d";
}

.icon-jiantouxia:before {
  content: "\e62e";
}

.icon-tixing:before {
  content: "\e716";
}

.icon-xiajiantou:before {
  content: "\eb6d";
}

.icon-shangjiantou:before {
  content: "\eb6e";
}

.icon-icon_fabu:before {
  content: "\eb88";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-zuozhe:before {
  content: "\e621";
}

.icon-shezhi:before {
  content: "\e628";
}

.icon-aixin_shixin:before {
  content: "\eca1";
}

.icon-aixin:before {
  content: "\eca2";
}

.icon-yumaobi:before {
  content: "\e616";
}

.icon-faxian:before {
  content: "\e726";
}

.icon-zaicishurumima:before {
  content: "\e687";
}

.icon-16:before {
  content: "\e61e";
}

.icon-yonghu:before {
  content: "\e7fd";
}

.icon-gengduo:before {
  content: "\e67f";
}

.icon-bianjiwenzhang_huaban:before {
  content: "\e62f";
}

.icon-xunzhang:before {
  content: "\e631";
}

.icon-gengduo1:before {
  content: "\e60e";
}

.icon-gengduo2:before {
  content: "\e641";
}

.icon-github:before {
  content: "\e69a";
}

