body {
  font-family: Georgia, Times New Roman, Times, Songti SC, serif;
}

#app {
  width: 100%;
  height: 100%;
}

.ant-message {
  z-index: 9999999999 !important;
}

.ant-modal-wrap {
  z-index: 999999999 !important;
}

.ant-modal-mask {
  z-index: 99999999 !important;
}
